[package]
name = "s1"
version = "0.1.0"
edition = "2024"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
nom = "8.0.0"
itertools = "0.14"

[dev-dependencies]
indoc = "2.0.7"
pretty_assertions = "1.4.1"
